# Node modules
node_modules/

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Keep logs directory but ignore its contents
microservices/logs/*
!microservices/logs/.gitkeep

# Build output
dist/
build/
coverage/

# IDEs and OS files
.vscode/
.idea/
.DS_Store

# Lockfiles (optional)
# package-lock.json
# yarn.lock
